.page_nav
{
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 12px 6px 12px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.page_nav:hover
{
    background-color: #E0E0E0;
    text-decoration: none;
    color: #303030;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
}